@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-repeat: no-repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@import url("https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css");

/* Custom dropdown styles */
.custom-dropdown .rs-dropdown-toggle {
  background-color: #c6f6d5; /* Tailwind's bg-green-200 */
  color: black; /* Adjust text color if needed */
  font-size: 24px;
}

.custom-dropdown .rs-dropdown-menu {
  background-color: #d1fae5; /* Tailwind green-200 */
}

.custom-dropdown .rs-dropdown-menu-item {
  background-color: #d1fae5; /* Tailwind green-200 */
  color: #000; /* Optional: change text color to black for better contrast */
  text-decoration: none; /* Ensure text decoration is none */
}

.custom-dropdown .rs-dropdown-menu-item:hover {
  background-color: #a7f3d0; /* Tailwind green-300 for hover effect */
  color: #000; /* Ensure text color remains black on hover if needed */
}
